:root {
    --accent-color: #11c;
    --focus-color: #44f;
    --font-size: 1rem;
    --header-height: 2rem;
    --softkey-height: 27px;
    --transition-speed: 300ms;
    --grey: #bbb;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

* {
    user-select: none;
}

.content {
    flex: 1;
    background-color: white;
    overflow: auto;
    margin-bottom: var(--softkey-height);
}

.kui-toast {
    animation: toaster 0.48s;
    height: auto;
    padding: 4px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    background-color: rgba(50, 50, 50, 0.99);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 10000;
}

.kui-toast .kui-pri {
    margin: 0;
}

.kui-toast-shadow {
    height: 6px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}

@keyframes toaster {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: none;
    }
}

@keyframes gatst {
    from {
        transform: none;
    }

    to {
        transform: translateY(-50px);
    }
}

.byetoast {
    animation: gatst 0.5s;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(17px);
}

*:focus {
    outline: none;
}

.hidden {
    display: none !important;
}

header {
    background-color: var(--accent-color);
    text-align: center;
    color: white;
    font-size: 1.15rem;
    font-weight: 600;
    line-height: var(--header-height);
    height: var(--header-height);
    z-index: 100;
}

#softkeys {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--grey);
    font-size: 1rem;
    line-height: var(--softkey-height);
    height: var(--softkey-height);
    padding: 0 .25rem;
    z-index: 100;
}

#softkeys * {
    width: 80px;
}

#center {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
}

#right {
    text-align: right;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
}

#options-menu {
    position: fixed;
    bottom: var(--softkey-height);
    left: 0;
    right: 0;
}

#options-menu-header {
    background-color: var(--grey);
    color: black;
    height: 2.3rem;
    line-height: 2.3rem;
    font-size: 1.4rem;
    font-weight: lighter;
}

#options-menu-content {
    overflow: scroll;
    overflow: hidden;
    max-height: 170px;
}

.content-list-item {
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.45rem;
    padding: 0.1rem .6rem;
    background-color: white;
}

.content-list-item:focus {
    background-color: var(--focus-color);
    color: white;
}


.list-item {
    height: 3.5rem;
    line-height: 0px;
    font-size: 1.3rem;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bbf;
}

.list-item-w-title {
    min-height: 3.5rem;
    font-size: 1.3rem;
    padding: 0.2rem .5rem 0 0.5rem;
    border-bottom: 1px solid #bbf;
    line-break: anywhere;
}

.list-item-w-title:focus {
    background-color: var(--focus-color);
}

.list-item-w-title:focus .primary {
    color: white;
}

.list-item-w-title .description {
    font-size: 14px;
}

.list-item-w-title .value {
    font-size: 20px;
    margin-top: auto;
    line-height: 24px;
}

.list-item-w-title .images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;

}

.images img {
    height: 80px;
    width: 60px;
}

.list-item:focus {
    background-color: var(--focus-color);
}

.list-item:focus .primary {
    color: white;
}

.primary {
    font-size: 1.5rem;
    color: black;
}

.secondary {
    font-size: 1rem;
    color: var(--grey);
}

.divider {
    padding: 10px 7px 10px 7px;
    display: flex;
    align-items: center;
}

.divider>.title {
    color: var(--accent-color);
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 7px;
}

.divider>.line {
    background-color: var(--accent-color);
    height: 1px;
    flex: 1;
}

.new-collection {
    position: absolute;
    background-color: white;
    height: calc(296px - --header-height - --softkey-height);
    width: 100%;
    top: var(--header-height);
    bottom: var(--softkey-height);
    z-index: 50;
}
.kui-input-holder {
    background-color: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 3.5rem;
    padding: 5px 7px;
}

.list-item.focused {
    background-color: var(--focus-color);
    color: #fff;
    outline: 0;
}

.kui-input-label {
    color: #323232;
    display: block;
    padding-bottom: 8px;
}

.kui-input {
    border: 1px solid #aaaaaa;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 2.3rem;
    padding-left: 7px;
    width: 100%;
    font-size: 1.15rem;
}

.kui-input ::-moz-placeholder,
.kui-input :-moz-placeholder {
    color: #323232;
}

.kui-input:focus {
    outline: 0;
}